RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^d/(.*)$ index.php?url=$1 [QSA,L]

RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?url=$1 [QSA,L]